h1{
    display: grid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
    justify-content: center;
}
#container{
    background: linear-gradient(255);
    margin: auto;
    display:grid;
    height: 400px;
    width: 700px;
    border-color: black;
    align-content: flex-start;
    justify-content: center;
}

#controls{
    display:grid;
    grid-template-rows: repeat(4,1fr);
}

#rangeValue{
    grid-area:2;
}



#clear-button{
    grid-area: 3;
    align-items: center;
    justify-items: center;
    font-family:Helvetica;
    font-size: 25px;
    margin: auto;
    border-radius: 25px;
    border-width: thin;
    width:10%;
    outline: none;
    height:40px;
    color:white;
    border-color: #aaa;
    background: linear-gradient(rgb(253, 10, 10),rgb(250, 79, 79));
}
.range-slider{
    width:40%;
    margin:auto;
}
.range-slider #rangeValue{
    font-size: 40px;
    font-family: inherit;
    text-align: center;
    color: rgb(102, 102, 108);
    align-items: center;
}
.range-slider input[type="range"]{
    -webkit-appearance:none;
    width: 500px;
    height: 40px;
    border-radius: 15px;
    background: linear-gradient(rgb(253, 10, 10),rgb(250, 79, 79));
    outline: none;
    overflow: hidden;
}
.range-slider input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width:40px;
    height:40px;
    background: #f5f5f5;
    border-radius:25px;
    box-shadow: -350px 0px 340px #f5f5f5;
    cursor: pointer;
}



